@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&display=swap');
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 540;
  font-style: normal;
}
body {
  background-image: url(/public/assets/bgidea4.jpg);
  background-position:cover;
  background-repeat: no-repeat;
}
.hidden {
    opacity: 0;  
    pointer-events: none;
}
.visible {
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}
#loader {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%)
}
.spinner {
  width: 8rem;
  height: 8rem;
  border: 8px solid #c2c2c2ab;
  border-top-color: #f5f5f5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  filter: blur(0.25px)
}

@keyframes spin {
  to { transform: rotate(360deg); };

}
#icon {
    font-size: 7.5rem;
    padding-top: 0.25rem;
    color: rgba(255, 255, 255, 0.856);
}

.inputscontainer {
  color: rgba(255, 255, 255, 0.877);
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  gap: 0.5rem;
}

.inputscontainer p {
  font-size: 1.55rem;
  font-weight: 610;
  pointer-events: none;
}

.inputscontainer textarea {
  resize: none;
  font-size: 1.75rem;
  font-weight: 570;
  min-height: fit-content;
  width: 40vw;
  max-width: 20rem;
  text-align: center;
  background-color: rgba(255, 167, 94, 0.062);
  -webkit-backdrop-filter:blur(2px);
  border-style: solid;
  border-color: rgba(192, 192, 192, 0.322);
  border-width: 0.185rem;
  border-radius: 2.5rem;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  color: rgba(255, 255, 255, 0.932);
  overflow: hidden;
}
.inputscontainer textarea:focus{
  outline: none;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.39);
}
.inputscontainer button {
  color: white;
  background-color:rgba(201, 143, 96, 0.274);
  border-color: rgba(231, 230, 230, 0.692);
  border-style: solid;
  border-width: 0.225rem;
  font-weight: 610;
  border-radius: 2rem;
  font-size: 1.55rem;
  width: 12rem;
  color: rgba(255, 255, 255, 0.986);
}
.inputscontainer button:hover {
  transform:translateY(-2.5px);
  border-color: rgba(255, 255, 255, 0.808);
}
.panel {
  color: rgba(255, 255, 255, 0.897);
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  font-size: 1.5rem;
  text-align: center;
}
.content {
  max-width: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
  backdrop-filter: blur(1.75px);
  background: rgba(255, 255, 255, 0.027);
  border: 1px solid rgba(255, 255, 255, 0.082);
  border-radius: 80px;
}
.temps {
  font-size: 2.75rem;
}