@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&display=swap');
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 540;
  font-style: normal;
}
body {
  background-image: url(/public/assets/bgidea4.jpg);
  /*background-color:rgba(128, 0, 128, 0.836);*/
  background-position:cover;
  background-repeat: no-repeat;

}
.hidden {
    opacity: 0;
    pointer-events: none;
}
.visible {
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}
#loader {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%)
}
.spinner {
  width: 8rem;
  height: 8rem;
  border: 8px solid #c2c2c2ab;
  border-top-color: #f5f5f5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); };

}
#icon {
    font-size: 6rem;
    padding-top: 2rem;
    color: white;
}

.inputscontainer {
  color: rgba(255, 255, 255, 0.877);
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  gap: 0.5rem;
}

.inputscontainer p {
  font-size: 1.5rem;
  pointer-events: none;
}

.inputscontainer textarea {
  resize: none;
  font-size: 1.6rem;
  font-weight: 580;
  min-height: fit-content;
  min-width: 2vw;
  text-align: center;
  background-color: rgba(255, 166, 94, 0.089);
  -webkit-backdrop-filter:blur(2000%);
  border-style: solid;
  border-color: rgba(192, 192, 192, 0.295);
  border-width: 0.225rem;
  border-radius: 2.5rem;
  padding: 0.75rem;
  color: rgba(255, 255, 255, 0.932);
}
.inputscontainer textarea:focus{
  outline: none;
  box-shadow: none;
  border-width: 0.3rem;
}
.panel {
  color: white;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.temps {
  font-size: 2rem;
}