.hidden {
    opacity: 0;
    pointer-events: none;
}
.visible {
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 3px;
}

@keyframes spin {
  to { transform: rotate(360deg); };

}
#icon {
    font-size: 100px;
}